h2 {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
   }
   .h1-colorido {
    background-color: rgb(14, 13, 13);
    color: rgb(247, 7, 7);
   }
   .hex-colorido {
    background-color: #000000;
    color: #fa0606;
   }
   .rgb-colorido {
    background-color: rgb(8, 8, 8);
    color: rgb(250, 7, 7);
   }
   .hsl-colorido {
    background-color: hsl(0, 0%, 3%);
    color: hsl(0, 98%, 51%);
   }
   .rgba-colorido {
    background-color: rgb(3, 3, 3);
    color: rgb(248, 5, 5);
   }