.body{
    text-align: center;
    background-color: #f75105;

}
   .hex-coloridohamburguer {
    background-color: rgb(248, 211, 3);
    color: rgb(252, 4, 4);
   }
   .bodynetflix{
    text-align: center;
    background-color: #000000;
   }
   .hex-coloridoNetflix {
    background-color: #000000;
    color: #f80303;
   }