.body{
    text-align: center;
    background-color: #f5ed87;

}
   .hex-coloridopizzaria {
    background-color: rgb(248, 211, 3);
    color: rgb(4, 8, 252);
   }
.sabores { 
    color: white;
}
.vidarasa {
    margin: 20px;
    font-size: 18px;
}
   